<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p><a href="/createcourse">Crear curso</a></p>
    <p><a href="/createprofessor">Crear profesor</a></p>
    <p><a href="/signout">Cerrar sesión</a></p>

    <form method="GET" action="">
        <label for="search">Buscar curso:</label>
        <input type="text" id="search" name="q" value="{{ request.GET.q }}">
        <button type="submit">Buscar</button>
    </form>

    <ul>
    {% for course in courses %}
        <li><p><h3>{{course.name}}</h3><p>{{course.professor.name}}</p><p>{{course.faculty}}</p></p></li>
    {% endfor %}
    </ul>

</body>
</html>